header {
    padding: 1em 0;
    text-align: center;
    background-color: #2a2a2a;
    color: rgb(229, 229, 229);
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: rgb(229, 229, 229);
    text-decoration: none;
    padding: 10px 23px;
}
nav ul li a:hover {
    background-color: #555;
}
main p {
    text-align: center;
}
.albums {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 30px;

}
.img{
    width: 200px;

  }
  .about {
    display: inline-block;
    padding-top: 15px;
  }
  h2 {
    text-align: left;
    color: #2a2a2a;
  }