body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdbdbd;
  font-family: sans-serif;
}
.rotating-box {
  width: 150px;
  height: 150px;
  background-color: #0e05ab;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.rotating-box:hover {
  transform: rotate(180deg);
}
